* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #cbeaff;
  font-family: "Space Mono", monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.81rem;
  margin: 0 auto;
  min-width: 360px;
  letter-spacing: 0.018rem;
}
@media (min-width: 1024px) {
  body {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    padding: 1em 5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #092c6c;
}

p, ul li {
  color: #092c6c;
  line-height: 1.65;
  font-size: 1.1rem;
}

li > a {
  color: #9d0b0b;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
li > a:hover {
  font-weight: bold;
  color: #092c6c;
  border-bottom: 2px solid #092c6c;
}

ul {
  padding: 0;
  margin: 0 0 0 1em;
  row-gap: 0.35em;
}

ul li {
  color: #072254;
}

hr {
  border: 0;
  height: 1px;
  background-color: #9d0b0b;
  margin: 1em 0;
  max-width: 32ch;
  width: 100%;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 270px;
  margin-top: 0.4rem;
}
@media (min-width: 1024px) {
  .landing-page__container__image, .landing-page__container__image img {
    max-height: 600px;
    max-width: 300px;
    margin-top: 3rem;
  }
}

footer {
  color: #092c6c;
  margin: 5rem 0 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
}
footer a, footer p {
  color: #004b7f;
  text-decoration: none;
  font-size: 0.65rem;
  margin-bottom: 0;
}
footer .footer-icon {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0.45;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}
footer .footer-icon:hover {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  opacity: 0.63;
}
footer .footer-icon svg {
  scale: 0.8;
}
footer .footer-icon svg path {
  fill: #f34e4e;
  fill-opacity: 70%;
}
footer .footer-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nolink, .nolink:hover, .nolink a, .nolink a:hover {
  text-decoration: none;
  font-weight: normal;
}

.link.active {
  background-color: #dff2ff;
  cursor: default;
  transition: all 0.3s ease;
  filter: contrast(1.1);
}

#animatedCursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #9d0b0b;
  mix-blend-mode: difference; /* Enhances visibility against varying backgrounds */
  position: absolute;
  pointer-events: none;
  display: none; /* Start hidden */
  z-index: 10000; /* Ensure it's above other elements */
  opacity: 0.5;
}

.homepage__button__container .button {
  opacity: 0;
}

.menu-icon {
  opacity: 0;
  font-size: 1.8rem;
}

@font-face {
  font-family: "Rubik One";
  src: url("../fontfiles/RubikOne-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fontfiles/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fontfiles/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.art-word {
  color: #9d0b0b;
  background: #f8c35e;
  border-radius: 50%;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #092c6c;
  padding: 1rem;
}
.project-section .project-tech-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0;
}
.project-section .project-tech-stack li {
  background: #1152ca;
  color: #fad58f;
  padding: 0.35em 0.5em;
  border-radius: 0.5em;
}
.project-section p, .project-section h2 {
  color: #f8c563;
}
.project-section h2 {
  margin-top: 0.5rem;
  font-family: "Rubik One", sans-serif;
  line-height: 1.5;
}
.project-section img {
  height: auto;
  transition: all 0.5s ease-in-out;
  border-radius: 0.2rem;
  scale: 1.02;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .project-section img {
    max-width: 580px;
    transition: all 0.3s ease-in-out;
  }
}
.project-section img:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .project-section {
    padding: 1.35rem;
  }
}
.project-section__intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.project-section__intro .project-button__live {
  margin-bottom: 1rem;
  z-index: 1;
}
@media (min-width: 768px) {
  .project-section__intro {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  .project-section__main--about {
    border-left: 1rem solid #f9aeae;
    padding-left: 1rem;
  }
}
.project-section__main, .project-section__design {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 1.2rem;
}
.project-section__main h2, .project-section__design h2 {
  font-size: 1.75rem;
  border-top: 2px solid #9d0b0b;
  width: fit-content;
  margin-bottom: -5px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .project-section__main h2, .project-section__design h2 {
    font-size: 2rem;
  }
}
.project-section__main p, .project-section__design p {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0;
}
.project-section__main .color-palette, .project-section__design .color-palette {
  display: flex;
  border: 2px solid #80a9f4;
  width: fit-content;
  position: relative;
  background-blend-mode: multiply;
}
.project-section__main .color-palette__color, .project-section__design .color-palette__color {
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  margin-right: -1rem;
  box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}
.project-section__main .color-palette__color-name, .project-section__design .color-palette__color-name {
  top: 4rem;
  left: 0;
}
.project-section__awards {
  transition: all 0.5s ease;
  border: 2px solid #cbeaff;
  padding: 1rem;
  margin-top: 1rem;
}
.project-section__awards h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1;
  filter: contrast(1.1) brightness(1.5);
}
.project-section__awards a {
  text-decoration: none;
}
.project-section__awards ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: fit-content;
  gap: 1em;
  flex-direction: column;
}
@media (min-width: 768px) {
  .project-section__awards ul {
    flex-direction: row;
  }
}
.project-section__awards ul li {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #f8c35e;
  background: #6d0808;
  padding: 0.5rem;
  width: fit-content;
  list-style: none;
}
.project-section__design {
  margin-top: 1rem;
}

.project-card {
  background: #092c6c;
  color: #f8c35e;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  flex: 0 0 100%; /* Ensure each card takes full container width */
  max-width: 100%;
}
.project-card .project-number {
  color: #f8c35e;
  font-size: 1.44rem;
}
@media (min-width: 768px) {
  .project-card .project-number {
    word-break: break-word;
    max-width: 1ch;
  }
}
.project-card .project-title,
.project-card .project-subtitle {
  margin-top: 0;
}
.project-card .project-title {
  background-color: #f8c35e;
  padding: 0.2em;
  width: fit-content;
  color: #9d0b0b;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.project-card .project-subtitle {
  color: #f8c35e;
  line-height: 1.35;
  font-size: 1rem;
}
.project-card .project-link {
  text-decoration: none;
  color: #092c6c;
  background-color: #f8c35e;
  word-break: break-word;
  opacity: 0;
  text-align: left;
}
.project-card .project-button__container {
  display: flex;
  gap: 1em;
  margin: 1em 0 0 0;
  justify-content: flex-start;
  flex-direction: column;
  width: 23ch;
}
.project-card .project-image {
  height: auto;
  opacity: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .project-card .project-image {
    margin-bottom: 0;
    object-fit: cover;
    max-height: 450px;
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .project-card {
    flex-direction: row;
    gap: 1.5rem;
    overflow: hidden;
    justify-content: flex-start;
  }
}
.project-card img {
  transition: all 0.4s ease-in-out;
  filter: contrast(1.1);
  scale: 1.02;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  scroll-snap-align: start;
}

.carousel-btn {
  background: #f8c35e;
  color: #092c6c;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-weight: 700;
}
.carousel-btn:hover {
  background: #9d0b0b;
  color: #f8c35e;
}
.carousel-btn svg {
  width: 2rem;
  height: 2rem;
}

.carousel-btn__container {
  display: flex;
  gap: 2rem;
  background: #0b3684;
  padding: 0.5rem;
  border-radius: 4rem;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

#backToStartBtn {
  margin-bottom: -1px;
  font-size: 0.7rem;
  border-radius: 0;
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f8c35e;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.contact-form h3 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Rubik One", sans-serif;
  border-left: 1rem solid #80a9f4;
  padding-left: 1rem;
  line-height: 1;
}
.contact-form h3 a {
  color: #9d0b0b;
  transition: all 0.3s ease-in-out;
}
.contact-form h3 a:hover {
  color: #231702;
}
.contact-form p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  font-weight: 400;
  line-height: 1.5;
  padding: 0.45em 1.25em;
  border-radius: 1.25em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.4s ease;
  font-size: 1.1rem;
}
.button--primary {
  background-color: #092c6c;
  border-color: #092c6c;
  color: #f8c35e;
}
.button--primary:hover {
  background-color: #05193d;
  border-color: #05193d;
}
.button--secondary {
  background-color: #f8c35e;
  border-color: #f8c35e;
  color: #092c6c;
}
.button--secondary:hover {
  background-color: #f6b12d;
  border-color: #f6b12d;
}
.button--tertiary {
  background-color: #9d0b0b;
  border-color: #9d0b0b;
  color: #f8c35e;
}
.button--tertiary:hover {
  background-color: #6d0808;
  border-color: #6d0808;
}
.button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
}
.button span {
  display: inline-block;
  margin-left: 0.54rem;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.button:hover span {
  margin-left: 0.9rem;
}

.nav-container {
  /* Initially hide the .menu-open icon completely */
  /* .menu-closed is visible initially */
}
.nav-container ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 0;
  flex-direction: column;
  display: none;
  font-family: "Rubik One", sans-serif;
  font-weight: 700;
  row-gap: 1rem;
  background: #c1e6ff;
}
@media (min-width: 768px) {
  .nav-container ul {
    background: initial;
  }
}
.nav-container li > a {
  color: #9d0b0b;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #60bfff;
  text-decoration: none;
  font-size: 1.35rem;
  letter-spacing: 0.045rem;
  line-height: 1.35;
}
.nav-container li > a:hover {
  color: #092c6c;
  border-bottom: 2px solid #bce4ff;
}
.nav-container .menu-icon {
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5em;
  color: #092c6c;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease;
}
.nav-container small {
  margin-left: 2.5em;
  margin-top: 0.24em;
}
.nav-container .menu-open, .nav-container .menu-closed {
  width: fit-content;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  position: absolute;
  left: 0;
}
.nav-container .menu-open {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.nav-container .menu-closed {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .nav-container .menu-icon {
    display: none;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
  }
  .nav-container ul li a {
    display: inline-block;
    margin-right: 2.75em;
    margin-bottom: 0.5em;
  }
}

.pagetitle {
  font-weight: 700;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 0.9;
  font-family: "Rubik One", sans-serif;
  opacity: 0;
  margin-bottom: 0;
  font-size: 3rem;
  margin-left: -2px;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .pagetitle {
    font-size: 4.5rem;
    margin-left: -4px;
  }
}

.pagesubtitle {
  font-weight: 600;
  margin: -8px 0 1rem 0;
  opacity: 0;
  font-size: 0.81rem;
  filter: contrast(1.1);
  font-family: "Space Mono", monospace;
  background-color: #f8c35e;
  width: fit-content;
  padding: 0.15rem;
  word-break: normal;
}

.pagetitle, .pagesubtitle {
  letter-spacing: 0.18rem;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  row-gap: 1em;
}
@media (min-width: 1024px) {
  .landing-page-container {
    flex-direction: row;
    column-gap: 2em;
    max-width: 100ch;
  }
}
.landing-page-container__content {
  margin-top: 2rem;
}

.homepage__button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.colophon ul {
  list-style: lower-greek;
  padding: 0;
  margin: 0;
}
.colophon hr {
  opacity: 0;
}
.colophon li {
  margin-left: 2em;
  opacity: 0;
}
.colophon a {
  color: #9d0b0b;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
.colophon a:hover {
  font-weight: bold;
  color: #092c6c;
  border-bottom: 2px solid #092c6c;
}
.colophon a span {
  display: inline-block;
  margin-left: 0.15em;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.colophon a:hover span {
  margin-left: 0.45em;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8em;
  margin-top: 3rem;
}
.page-not-found img {
  width: 100%;
  height: auto;
  opacity: 0;
  margin-top: -3.6rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .page-not-found img {
    max-width: 400px;
  }
}
.page-not-found p {
  margin: 0;
  color: #092c6c;
}

/*# sourceMappingURL=main.css.map */
