* {
  box-sizing: border-box;
}

html {
  filter: contrast(1.08);
  font-size: 100%;
}

body {
  background-color: #cbeaff;
  font-family: "Space Mono", monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.81rem;
  margin: 0 auto;
  min-width: 360px;
  letter-spacing: 0.018rem;
}
@media (min-width: 768px) {
  body {
    padding: 1.5rem;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    padding: 0.5rem;
  }
}
@media (min-width: 1600px) {
  body {
    max-width: 1400px;
    padding: 1em 5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #092c6c;
}

p, ul li {
  color: #092c6c;
  line-height: 1.75;
  font-size: 1.045rem;
}

li > a {
  color: #a10909;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
li > a:hover {
  font-weight: bold;
  color: #092c6c;
  border-bottom: 2px solid #092c6c;
}

ul {
  padding: 0;
  margin: 0 0 0 1em;
  row-gap: 0.35em;
}

ul li {
  color: #072254;
}

hr {
  border: 0;
  height: 1px;
  background-color: #a10909;
  margin: 1em 0;
  max-width: 32ch;
  width: 100%;
}

.max-content-width {
  max-width: 80ch;
}

.content {
  margin-top: 1rem;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 270px;
  margin-top: 0.4rem;
}
@media (min-width: 1024px) {
  .landing-page__container__image, .landing-page__container__image img {
    max-height: 600px;
    max-width: 300px;
    margin-top: 1rem;
    margin-right: 3.5rem;
  }
}

.resume-page__image {
  width: 81%;
  margin-top: 1.5rem;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 480px) {
  .resume-page__image {
    max-height: 600px;
    max-width: 360px;
  }
}
.resume-page__image img {
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.resume-page__image:hover {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
}
.resume-page__image:hover img {
  transform: scale(1.01);
}
.resume-page__image:hover a::after {
  filter: hue-rotate(-150deg) saturate(1.1) brightness(1);
}

.resume-page__image a {
  display: block;
  position: relative;
}
.resume-page__image a img {
  display: block;
  width: 100%;
  height: auto;
}
.resume-page__image a::after {
  content: "[ resume ]";
  display: block;
  position: absolute;
  top: 57%;
  left: 92%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  width: 140px;
  height: 140px;
  background-image: url("/img/pdf-down-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: hue-rotate(-45deg) saturate(1.2) brightness(0.9);
  font-size: 0.6em;
  color: orangered;
  font-weight: bold;
}

footer {
  color: #092c6c;
  margin: 2.5rem 0 0.25rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
}
footer a, footer p {
  color: #004b7f;
  text-decoration: none;
  font-size: 0.65rem;
  margin-bottom: 0;
}
footer .footer-icon {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.01);
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0.45;
  margin-top: 0.45rem;
}
footer .footer-icon:hover {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  opacity: 0.63;
}
footer .footer-icon svg {
  scale: 0.8;
}
footer .footer-icon svg path {
  fill: #f54e4e;
  fill-opacity: 70%;
}
footer .footer-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nolink, .nolink:hover, .nolink a, .nolink a:hover {
  text-decoration: none;
  font-weight: inherit;
  color: inherit !important;
}

.link.active {
  background-color: #dff2ff;
  cursor: default;
  transition: all 0.3s ease;
  filter: contrast(1.1);
}

#animatedCursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #a10909;
  mix-blend-mode: difference; /* Enhances visibility against varying backgrounds */
  position: absolute;
  pointer-events: none;
  display: none; /* Start hidden */
  z-index: 10000; /* Ensure it's above other elements */
  opacity: 0.5;
}

.homepage__button__container .button {
  opacity: 0;
}

.menu-icon {
  opacity: 0;
  font-size: 1.8rem;
}

@font-face {
  font-family: "Rubik One";
  src: url("../fontfiles/RubikOne-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fontfiles/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fontfiles/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.art-word {
  color: #a10909;
  background: #f8c35e;
  border-radius: 50%;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #092c6c;
  border-bottom: 0.3rem solid #80a9f4;
  padding-bottom: 2rem;
}
.project-section .project-tech-stack {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0;
}
.project-section .project-tech-stack li {
  background: #1152ca;
  color: #fad58f;
  padding: 0.35rem 0.5rem;
  border-radius: 0.65rem;
}
.project-section .project-contribution p {
  background-color: #fbe0ac;
  padding: 0.45rem;
}
.project-section p, .project-section h2 {
  color: #092e71;
}
.project-section h2 {
  margin-top: 0.5rem;
  font-family: "Rubik One", sans-serif;
  line-height: 1.5;
}
.project-section img {
  height: auto;
  transition: all 0.5s ease-in-out;
  border-radius: 0.2rem;
  scale: 1.02;
}
@media (min-width: 768px) {
  .project-section img {
    max-width: 580px;
    transition: all 0.3s ease-in-out;
  }
}
.project-section__intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.project-section__intro .project-button__live {
  margin-bottom: 1.75rem;
  z-index: 1;
}
@media (min-width: 1024px) {
  .project-section__intro {
    flex-direction: row;
    gap: 2.5rem;
  }
}
.project-section__main--about {
  border-left: 1rem solid #fbafaf;
  padding-left: 1rem;
}
.project-section__main, .project-section__design {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 1.2rem;
}
.project-section__main h2, .project-section__design h2 {
  font-size: 1.75rem;
  border-top: 2px solid #a10909;
  width: fit-content;
  margin-bottom: -5px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .project-section__main h2, .project-section__design h2 {
    font-size: 2rem;
  }
}
.project-section__main p, .project-section__design p {
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0;
}
.project-section__main .color-palette, .project-section__design .color-palette {
  display: flex;
  border: 2px solid #d5eeff;
  width: fit-content;
  position: relative;
  background-blend-mode: multiply;
  transition: all 0.3s ease-in-out;
}
.project-section__main .color-palette:hover, .project-section__design .color-palette:hover {
  border: 2px solid white;
}
.project-section__main .color-palette__color, .project-section__design .color-palette__color {
  width: 4rem;
  height: 4rem;
  border-radius: 30%;
  margin-right: -1rem;
  box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}
.project-section__main .color-palette__color-name, .project-section__design .color-palette__color-name {
  top: 4rem;
  left: 0;
}
.project-section__awards {
  transition: all 0.5s ease;
  border: 5px dashed #a10909;
  padding: 1rem;
  margin-top: 1rem;
  width: fit-content;
}
.project-section__awards h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1;
}
.project-section__awards a {
  text-decoration: none;
}
.project-section__awards a:hover {
  color: #a10909;
}
.project-section__awards ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: fit-content;
  gap: 1em;
  flex-direction: column;
}
@media (min-width: 768px) {
  .project-section__awards ul {
    flex-direction: row;
  }
}
.project-section__awards ul li {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #f8c35e;
  background: #710606;
  padding: 0.5rem;
  width: fit-content;
  list-style: none;
  transition: all 0.3s ease-in-out;
}
.project-section__awards ul li:hover {
  background: #400404;
}
.project-section__design {
  margin-top: 0.5rem;
}

.project-card {
  background: #092c6c;
  color: #f8c35e;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  flex: 0 0 100%; /* Ensure each card takes full container width */
  max-width: 100%;
}
.project-card .project-number {
  color: #f8c35e;
  font-size: 1.44rem;
}
@media (min-width: 1024px) {
  .project-card .project-number {
    word-break: break-word;
    max-width: 1ch;
  }
}
.project-card .project-title,
.project-card .project-subtitle {
  margin-top: 0;
}
.project-card .project-title {
  background-color: #f8c35e;
  padding: 0.2em 0.4em;
  width: fit-content;
  color: #a10909;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
@media (min-width: 1024px) {
  .project-card .project-title {
    font-size: 1.5rem;
  }
}
.project-card .project-subtitle {
  color: #f8c35e;
  line-height: 1.35;
  font-size: 1rem;
}
.project-card .project-year {
  color: #f8c35e;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  background: #a10909;
  padding: 0.2em 0.8em;
  width: fit-content;
}
.project-card .project-type {
  filter: contrast(1.8) brightness(1.2) saturate(1.2) sepia(0.5) hue-rotate(180deg);
}
.project-card .project-link {
  text-decoration: none;
  color: #092c6c;
  background-color: #f8c35e;
  word-break: break-word;
  opacity: 0;
  text-align: left;
}
.project-card .project-button__container {
  display: flex;
  gap: 1em;
  margin: 1em 0 0 0;
  justify-content: flex-start;
  flex-direction: column;
  width: 23ch;
}
.project-card .project-image {
  height: auto;
  opacity: 0;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .project-card .project-image {
    margin-bottom: 0;
    object-fit: cover;
    max-height: 450px;
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .project-card {
    flex-direction: row;
    gap: 1.5rem;
    overflow: hidden;
    justify-content: flex-start;
    padding: 1rem;
  }
}
.project-card img {
  transition: all 0.4s ease-in-out;
  scale: 1.02;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  border-top: 0.3rem dashed #092c6c;
  border-bottom: 0.3rem dashed #092c6c;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  scroll-snap-align: start;
}

.carousel-btn {
  background: #f8c35e;
  color: #092c6c;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-weight: 700;
}
.carousel-btn:hover {
  background: #a10909;
  color: #f8c35e;
}
.carousel-btn svg {
  width: 2rem;
  height: 2rem;
}

.carousel-btn__container {
  display: flex;
  gap: 8rem;
  background: #092c6c;
  padding: 0.6rem;
  border-radius: 0 0 2.25rem 2.25rem;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .carousel-btn__container {
    gap: 14rem;
  }
}

#backToStartBtn {
  margin-bottom: -1px;
  font-size: 0.7rem;
  border-radius: 0;
  margin-left: auto;
  display: flex;
  width: fit-content;
  background-color: #0b3684;
}

.case-study-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #092c6c;
  padding-bottom: 3rem;
  margin-top: 2rem;
}
.case-study-section .case-study-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 0.3rem solid #80a9f4;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.case-study-section .case-study-card .case-study-number {
  border-top: 4px solid #a10909;
  border-left: 4px solid #a10909;
  padding-top: 1rem;
  padding-left: 1rem;
  width: fit-content;
  font-size: 1.5rem;
  color: #1152ca;
  font-weight: bold;
  line-height: 0.5;
}
.case-study-section .case-study-card .case-study-image__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .case-study-section .case-study-card .case-study-image__container {
    flex-direction: row;
    border-right: 4px solid #a10909;
    padding-right: 1rem;
    justify-content: start;
  }
}
.case-study-section .case-study-card .case-study-image {
  max-width: fit-content;
  height: auto;
  border-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1024px) {
  .case-study-section .case-study-card .case-study-image {
    width: auto;
    max-width: 580px;
    transition: all 0.3s ease-in-out;
    max-height: 50vh;
    height: fit-content;
  }
}
.case-study-section .case-study-card__content {
  display: flex;
  flex-direction: column;
}
.case-study-section .case-study-card__content h4.case-study-title {
  font-family: "Rubik One", sans-serif;
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.5;
  border: 4px solid #f7ba46;
  padding: 0.5rem;
  width: fit-content;
}
@media (min-width: 768px) {
  .case-study-section .case-study-card__content h4.case-study-title {
    font-size: 2.5rem;
  }
}
.case-study-section .case-study-card__content p.case-study-year {
  color: #0d3f9b;
  font-size: 1rem;
  margin: 0;
}
.case-study-section .case-study-card__content p.case-study-year .case-study-type {
  font-weight: bold;
  color: #0d3f9b;
}
.case-study-section .case-study-card__content p.case-study-subtitle {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: bold;
  color: #05193d;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #fad58f;
  width: fit-content;
}
@media (min-width: 768px) {
  .case-study-section .case-study-card__content p.case-study-subtitle {
    font-size: 1.5rem;
    max-width: 60ch;
  }
}
.case-study-section .case-study-card__content .case-study-details {
  border-right: 4px solid #a10909;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.case-study-section .case-study-card__content .case-study-details h5 {
  font-size: 1.5rem;
  color: #b90a0a;
  margin-bottom: 0.25rem;
  margin-top: 0.85rem;
  border-bottom: 3px dashed;
  width: fit-content;
}
.case-study-section .case-study-card__content .case-study-details p {
  font-size: 1rem;
  color: #092e71;
  margin: 0;
}
@media (min-width: 768px) {
  .case-study-section .case-study-card__content .case-study-details p {
    font-size: 1.2rem;
    line-height: 1.2;
    max-width: 80ch;
  }
}
.case-study-section .case-study-card__content .case-study-button__container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.case-study-section .case-study-card__content .case-study-button__container .case-study-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #0d3f9b;
  color: #cbeaff;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .case-study-section .case-study-card__content .case-study-button__container .case-study-link {
    font-size: 1.75rem;
  }
}
.case-study-section .case-study-card__content .case-study-button__container .case-study-link:hover {
  background-color: #1152ca;
  filter: contrast(1.5);
}
.case-study-section .case-study-card__content .case-study-button__container .case-study-link span {
  margin-left: 0.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f8c35e;
  border-radius: 0.5rem;
  margin-top: 3rem;
}
.contact-form h3 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Rubik One", sans-serif;
  border-left: 1rem solid #80a9f4;
  padding-left: 1rem;
  line-height: 1;
}
.contact-form h3 a {
  color: #a10909;
  transition: all 0.3s ease-in-out;
}
.contact-form h3 a:hover {
  color: #231702;
}
.contact-form p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.more-about-me {
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .more-about-me {
    grid-template-columns: repeat(2, 1fr);
  }
}
.more-about-me .more-about-me__content {
  display: flex;
  flex-direction: column;
  background-color: #e5f4ff;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.01);
  padding: 0.5rem;
}
.more-about-me .more-about-me__content h2 {
  font-size: 2.5rem;
  font-family: "Rubik One", sans-serif;
  margin: 0 0 0.25rem 0;
  color: #f66666;
  line-height: 1;
}
.more-about-me .more-about-me__content p {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.3;
}
.more-about-me .more-about-me__content p a > b {
  color: #a10909;
  transition: all 0.3s ease-in-out;
}
.more-about-me .more-about-me__content p a > b:hover {
  color: #231702;
}
.more-about-me .more-about-me__content:hover {
  background-color: white;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .more-about-me .more-about-me__content {
    padding: 1rem;
  }
}

.print-designs-grid {
  display: flex;
  flex-direction: column;
}
.print-designs-grid h2 {
  font-size: 2.5rem;
  font-family: "Rubik One", sans-serif;
  margin: 2rem 0 2rem 0;
  color: #3979ef;
  line-height: 1;
  text-decoration: wavy underline;
}
.print-designs-grid .print-designs-section {
  display: grid;
  gap: 1.5rem;
  margin: 0 0 2rem 0;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .print-designs-grid .print-designs-section {
    gap: 3.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.print-designs-grid .print-design-card {
  display: flex;
  flex-direction: column;
  background-color: #e5f4ff;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.01);
  padding: 1.5rem;
  text-align: center;
  height: fit-content;
}
.print-designs-grid .print-design-card:hover {
  background-color: white;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.print-designs-grid .print-design-card .print-design-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.print-designs-grid .print-design-card .print-design-title {
  font-size: 1.2rem;
  font-family: "Rubik One", sans-serif;
  color: #f66666;
  margin: 0.5rem 0 0;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .print-designs-grid .print-design-card {
    padding: 1rem;
  }
}

.bold-border-and-padding {
  border: 2px solid #a10909;
  padding: 1rem;
  border-radius: 0.5rem;
}

.button {
  font-weight: 400;
  line-height: 1.5;
  padding: 0.36rem 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  font-size: 1.008rem;
  border: 2px solid;
}
.button--primary {
  background-color: #092c6c;
  border-color: #092c6c;
  color: #f8c35e;
}
.button--primary:hover {
  background-color: #0d3f9b;
}
.button--secondary {
  background-color: #f8c35e;
  border-color: #f8c35e;
  color: #092c6c;
}
.button--secondary:hover {
  background-color: #fad58f;
}
.button--tertiary {
  background-color: #a10909;
  border-color: #a10909;
  color: #f8c35e;
}
.button--tertiary:hover {
  background-color: #d10c0c;
}
.button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
}
.button span {
  display: inline-block;
  margin-left: 0.54rem;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.button:hover span {
  margin-left: 0.81rem;
}

.next-project {
  margin-top: 1rem;
}

.nav-container {
  /* Initially hide the .menu-open icon completely */
  /* .menu-closed is visible initially */
}
.nav-container ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 1rem 0;
  flex-direction: column;
  display: none;
  font-family: "Rubik One", sans-serif;
  font-weight: 700;
  row-gap: 1rem;
  background: #c1e6ff;
}
.nav-container li > a {
  color: #b90a0a;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid #60bfff;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.045rem;
  line-height: 1.35;
}
.nav-container li > a:hover {
  color: #092c6c;
  border-bottom: 2px solid #bce4ff;
}
.nav-container .menu-icon {
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5rem;
  color: #092c6c;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease;
}
.nav-container small {
  margin-left: 2.5em;
  margin-top: 0.24em;
}
.nav-container .menu-open, .nav-container .menu-closed {
  width: fit-content;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  position: absolute;
  left: 0;
}
.nav-container .menu-open {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.nav-container .menu-closed {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .nav-container .menu-icon {
    display: none;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
  }
  .nav-container ul li a {
    display: inline-block;
    margin-right: 2.75em;
    margin-bottom: 0.5em;
  }
  .nav-container ul li:last-child a {
    margin-right: 0;
  }
}

.pagetitle {
  font-weight: 700;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 0.9;
  font-family: "Rubik One", sans-serif;
  opacity: 0;
  margin-bottom: 0;
  font-size: 3rem;
  margin-left: -2px;
  margin-top: 0;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .pagetitle {
    font-size: 4.5rem;
    margin-left: -4px;
  }
}

.pagesubtitle {
  font-weight: 600;
  margin: 0.25rem 0 1rem 0;
  opacity: 0;
  font-size: 0.9rem;
  filter: contrast(1.1);
  font-family: "Space Mono", monospace;
  background-color: #f8c35e;
  width: fit-content;
  padding: 0.15rem 0.3rem;
  word-break: normal;
}
@media (min-width: 768px) {
  .pagesubtitle {
    margin-bottom: 0.1rem;
  }
}

.pagetitle, .pagesubtitle {
  letter-spacing: 0.072rem;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  row-gap: 1em;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .landing-page-container {
    flex-direction: row;
    column-gap: 2em;
    max-width: 100ch;
  }
}
.landing-page-container__content {
  margin-top: 3rem;
}
@media (min-width: 1200px) {
  .landing-page-container__content {
    margin-top: 7rem;
  }
}

.homepage__button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.homepage__button__container:first-of-type {
  margin-top: 2rem;
}

.colophon ul {
  list-style: lower-greek;
  padding: 0;
  margin: 0;
}
.colophon hr {
  opacity: 0;
}
.colophon li {
  margin-left: 2em;
  opacity: 0;
}
.colophon a {
  color: #a10909;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
.colophon a:hover {
  font-weight: bold;
  color: #092c6c;
  border-bottom: 2px solid #092c6c;
}
.colophon a span {
  display: inline-block;
  margin-left: 0.15em;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.colophon a:hover span {
  margin-left: 0.45em;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8em;
  margin-top: 3rem;
}
.page-not-found img {
  width: 100%;
  height: auto;
  opacity: 0;
  margin-top: -3.6rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .page-not-found img {
    max-width: 400px;
  }
}
.page-not-found p {
  margin: 0;
  color: #092c6c;
}

/*# sourceMappingURL=main.css.map */
