@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap&family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  filter: contrast(1.26);
}

body {
  background-color: #ffadd4;
  font-family: "Space Mono", monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em;
  margin: 0 auto;
  font-size: 135%;
  letter-spacing: 0.014rem;
}
@media (min-width: 1024px) {
  body {
    max-width: 1400px;
    font-size: 150%;
    padding: 1em 5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #1b4f1a;
  letter-spacing: 0.14rem;
}

p {
  color: #ffc757;
  line-height: 1.5;
  font-size: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-color: #9d0b0b;
  margin: 1em 0;
  max-width: 35ch;
  width: 100%;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 100%;
  max-height: 475px;
  margin-top: 1.5em;
}

footer {
  color: #1b4f1a;
  margin: 7em 0 0;
  text-align: center;
  width: 100%;
}
footer a {
  color: #c7005e;
  text-decoration: none;
  font-size: 0.54em;
}

.link {
  color: #9d0b0b;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}
.link:hover {
  font-weight: bold;
  color: #1b4f1a;
  border-bottom: 2px solid #1b4f1a;
}

.nolink {
  text-decoration: none;
  font-weight: normal;
}

.link.active {
  background-color: #ffb2d7;
  cursor: default;
}

#animatedCursor {
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  background-color: #9d0b0b;
  mix-blend-mode: difference; /* Enhances visibility against varying backgrounds */
  position: absolute;
  pointer-events: none;
  display: none; /* Start hidden */
  z-index: 10000; /* Ensure it's above other elements */
}

.homepage__button__container .button {
  opacity: 0;
}

@font-face {
  font-family: "Rubik One";
  src: url("../fontfiles/RubikOne-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.art-word {
  color: #9d0b0b;
  background: #ffc757;
  border-radius: 50%;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.project-section .project-tech-stack {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  align-content: flex-start;
  color: #9d0b0b;
  margin: 0;
}
.project-section .project-tech-stack li {
  background: #9d0b0b;
  color: #ffc757;
  padding: 0.35em 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
}
.project-section p {
  color: #9d0b0b;
  font-size: 0.8em;
}
.project-section img {
  width: 100%;
  height: auto;
  max-width: 500px;
}
@media (min-width: 768px) {
  .project-section {
    flex-direction: row;
  }
}

.project-card {
  background: #1b4f1a;
  color: #ffc757;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  flex: 0 0 100%; /* Ensure each card takes full container width */
  max-width: 100%;
}
.project-card .project-number {
  color: #ffc757;
  word-break: normal;
  font-size: 0.7em;
}
.project-card .project-title,
.project-card .project-subtitle {
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;
}
.project-card .project-title {
  font-size: 1.5em;
  color: #9d0b0b;
}
.project-card .project-link {
  text-decoration: none;
  color: #1b4f1a;
  background-color: #ffc757;
  word-break: break-word;
  font-size: 0.7em;
  opacity: 0;
}
.project-card .project-button__container {
  display: flex;
  gap: 1em;
  margin: 1em 0 0 0;
  justify-content: flex-start;
}
.project-card .project-more-link,
.project-card .project-live-link {
  text-decoration: none;
  color: #1b4f1a;
  background-color: #ffc757;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 1em;
  transition: all 0.3s ease;
  word-break: break-word;
}
.project-card .project-more-link:hover,
.project-card .project-live-link:hover {
  filter: brightness(1.2) contrast(1.2);
}
.project-card img.project-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  opacity: 0;
}
@media (min-width: 768px) {
  .project-card {
    flex-direction: row;
    gap: 1rem;
    overflow: hidden;
    padding: 1em;
    justify-content: flex-start;
  }
}

.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  scroll-snap-align: start;
}

.carousel-btn {
  background: #ffc757;
  color: #1b4f1a;
  padding: 0.9em 1em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-size: 1em;
  font-weight: 700;
  font-family: Rubik, sans-serif;
}
.carousel-btn:hover {
  background: #9d0b0b;
  color: #ffc757;
}

.carousel-btn__container {
  position: absolute;
  display: flex;
  gap: 0.75em;
  justify-self: center;
  align-self: center;
}
@media (min-width: 768px) {
  .carousel-btn__container {
    gap: 1em;
  }
}

.button {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.45em 1.25em;
  border-radius: 1.25em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.button--primary {
  background-color: #1b4f1a;
  border-color: #1b4f1a;
  color: #ffc757;
}
.button--primary:hover {
  background-color: #0e290d;
  border-color: #0e290d;
}
.button--secondary {
  background-color: #ffc757;
  border-color: #ffc757;
  color: #1b4f1a;
}
.button--secondary:hover {
  background-color: #ffb624;
  border-color: #ffb624;
}
.button--tertiary {
  background-color: #9d0b0b;
  border-color: #9d0b0b;
  color: #ffc757;
}
.button--tertiary:hover {
  background-color: #6d0808;
  border-color: #6d0808;
}
.button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
}
.button span {
  display: inline-block;
  margin-left: 0.35em;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.button:hover span {
  margin-left: 0.75em;
}

.nav-container {
  /* Initially hide the .menu-open icon completely */
  /* .menu-closed is visible initially */
}
.nav-container ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
  flex-direction: column;
  display: none;
  font-family: "Rubik One", sans-serif;
  font-weight: 700;
  row-gap: 1em;
  letter-spacing: 0.05em;
  background: #ffa3cf;
}
@media (min-width: 768px) {
  .nav-container ul {
    background: initial;
  }
}
.nav-container li a {
  color: #9d0b0b;
  filter: hue-rotate(180deg);
  font-size: 1.3em;
  transition: all 0.3s ease;
  border-bottom: 2px solid #ff61ac;
}
.nav-container li a:hover {
  filter: hue-rotate(0);
}
@media (min-width: 768px) {
  .nav-container li a {
    font-size: 1em;
  }
}
.nav-container .menu-icon {
  position: relative;
  cursor: pointer;
  font-size: 1.75em;
  margin-bottom: 1.5em;
  color: #1b4f1a;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  transition: all 0.3s ease;
}
.nav-container small {
  margin-left: 2.5em;
  font-size: 0.75em;
  margin-top: 0.24em;
}
.nav-container .menu-open, .nav-container .menu-closed {
  width: fit-content;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  position: absolute;
  left: 0;
}
.nav-container .menu-open {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.nav-container .menu-closed {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .nav-container .menu-icon {
    display: none;
  }
  .nav-container ul {
    display: flex;
    flex-direction: row;
  }
  .nav-container ul li a {
    display: inline-block;
    margin-right: 2.75em;
    margin-bottom: 0.5em;
  }
}

.pagetitle {
  font-size: 2.5em;
  font-weight: 700;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 0.9;
  margin: 1em 0 0 -2px;
  font-family: "Rubik One", sans-serif;
  opacity: 0;
  filter: contrast(1.1);
}
@media (min-width: 768px) {
  .pagetitle {
    font-size: 3.5em;
    margin-left: -4px;
  }
}

.pagesubtitle {
  font-size: 0.63em;
  font-weight: 600;
  margin: -5px 0 2em 0;
  opacity: 0;
  filter: contrast(1.1);
  font-family: "Space Mono", monospace;
  background-color: #ffc757;
  width: fit-content;
  padding: 0.15em 0.25em;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  row-gap: 1em;
}
@media (min-width: 1024px) {
  .landing-page-container {
    flex-direction: row;
    column-gap: 2em;
  }
}

.homepage__button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;
  justify-content: flex-start;
}

.colophon {
  font-size: inherit;
}
.colophon ul {
  list-style: lower-greek;
  padding: 0;
  margin: 0;
}
.colophon li {
  margin-left: 2em;
  margin-bottom: 0.35em;
  opacity: 0;
}
.colophon a {
  color: #9d0b0b;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  text-transform: lowercase;
  border-bottom: 2px solid transparent;
}
.colophon a:hover {
  font-weight: bold;
  color: #1b4f1a;
  border-bottom: 2px solid #1b4f1a;
}
.colophon a span {
  display: inline-block;
  margin-left: 0.15em;
  transition: margin-left 0.4s ease; /* Smooth transition for the left property */
}
.colophon a:hover span {
  margin-left: 0.45em;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8em;
}
.page-not-found img {
  width: 100%;
  height: auto;
  opacity: 0;
  margin-top: -2.5em;
}
@media (min-width: 768px) {
  .page-not-found img {
    max-width: 28ch;
  }
}
.page-not-found p {
  margin: 0;
  color: #1b4f1a;
}

/*# sourceMappingURL=main.css.map */
