{# src/_includes/components/projectDisplay.njk #}
{% macro projectCard(project, totalProjects) %}
    <div class="project-card">
        <div class="project-number"># {{ project.id }} / {{ totalProjects }}</div>
        <img src="{{ project.image }}" alt="{{ project.title }}" class="project-image">
        <div class="project-card__content"><h4 class="project-title">{{ project.title }}</span></h4>
            <p class="project-year">{{ project.year }}<span class="project-type"> | {{ project.type }}</span></p>
            <p class="project-subtitle">{{ project.subtitle }}</p>
            <div class="project-button__container button__container">
                <a href="{{ project.title | slug }}" class="project-link button button--secondary">View Detail<span>&#8594;</span></a>
                {% if project.liveSite %}
                <a href="{{ project.liveSite }}" target="_blank" title="{{ project.title }}" class="project-link button button--tertiary">View live site<span>&#8599;</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
