{# src/_includes/components/projectDisplay.njk #}
{% macro projectCard(project, totalProjects) %}
    <div class="project-card">
        <div class="project-number">0{{ project.id }} / 0{{ totalProjects }}</div>
        <img src="{{ project.image }}" alt="{{ project.title }}" class="project-image">
        <div class="project-card__content"><h4 class="project-title">{{ project.title }}</h4>
            <p class="project-subtitle">{{ project.subtitle }}</p>
            <div class="button__container">
                <a href="{{ project.link }}" class="button button--secondary">View more<span>&#8594;</span></a>
                <a href="{{ project.link }}" class="button button--secondary">View live site<span>&#8599;</span></a>
            </div>
        </div>
    </div>
{% endmacro %}
