<footer>
    <p><small>THIS SITE IS UNDER CONSTRUCTION</small></p>
    <p>
        <a href="https://parth.ninja" target="_blank" class="nolink">{ Parth Shiralkar, 2024 and forever }</a>
    </p>
    <div class="footer-icon__container">
        <a class="footer-icon" href="/">
            <img src="/img/star.png" alt="Home">
        </a>
    </div>
</footer>
<script type="module" src="/js/animations.js"></script>
