<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>{{ pageTitle }}</title>
</head>
<body>
<div class="landing-page-container">
    <div class="landing-page-container__content">
        <h1 class="pagetitle">P<span class="art-word">ART</span>H SHIRALKAR</h1>
        <h2 class="pagesubtitle">{{ pageSubtitle }}</h2>
        {{ content | safe }}
    </div>
    <div class="landing-page__container__image">
        <img src="/img/landing-slides.gif" alt="Main SVG" id="landingAsset"/>
    </div>
</div>
<div id="animatedCursor"></div>

{% include './footer.njk' %}

</body>
</html>
