<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>{{ pageTitle }}</title>
</head>
<body>
<div class="landing-page-container">
    <div class="landing-page-container__content">
        <h1 class="pagetitle">P<span class="art-word">ART</span>H SHIRALKAR</h1>
        <h2 class="pagesubtitle">{{ pageSubtitle }}</h2>
        {{ content | safe }}
    </div>
    <div class="landing-page__container__image">
        <img src="/img/rose-vines.svg" alt="Main SVG" id="landingSvg"/>
{#        <svg id="svgStar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="300" height="300">#}
{#            <path d="M50,1 L63,38 H99 L69,59 L82,96 L50,76 L18,96 L31,59 L1,38 H37 Z" fill="none" stroke="black" stroke-width="2"/>#}
{#        </svg>#}
    </div>
</div>
<div id="animatedCursor"></div>

{% include './footer.liquid' %}

</body>
</html>
