<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>
</head>
<body>
<h1 class="pagetitle">{{ pageTitle }}</h1>
<h2 class="subtitle">{{ pageSubtitle }}</h2>
<div class="content">
    {{ content | safe }}
</div>
<footer>
    <a href="https://parth.ninja" class="link"> © Parth Shiralkar, 2024</a>
</footer>
<script type="module" src="/js/animations.js"></script>
</body>
</html>
