<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>{{ pageTitle }} - Parth Shiralkar</title>
</head>
<body>
<nav class="nav-container">
    <div class="menu-icon">
        <span class="menu-closed">&#10753; <!-- This is the ☰ character --></span>
        <span class="menu-open">&#10754;</span>
        <small>menu</small>
    </div>
    <ul>
        <li><a href="/" class="link">Home</a></li>
        <li><a href="/projects" class="link">Projects</a></li>
        <li><a href="/personal" class="link">Personal Work</a></li>
        <li><a href="/about" class="link">About</a></li>
    </ul>
</nav>
<h1 class="pagetitle">{{ pageTitle }}</h1>
<div class="content">
    {{ content }}
</div>
<footer>
    <a href="https://parth.ninja" class="link">Parth Shiralkar, 2024 and forever</a>
</footer>
<script type="module" src="/js/animations.js"></script>
</body>
</html>
