<nav class="nav-container">
    <div class="menu-icon">
        <span class="menu-closed">&#10753; <!-- This is the ☰ character --></span>
        <span class="menu-open">&#10754;</span>
        <small>menu</small>
    </div>

    <ul class="nav-links">
        <li><a href="/" class="link {{ 'active' if '/' == currentPageUrl }}">Home</a></li>
        <li><a href="/projects" class="link {{ 'active' if '/projects' in page.url }}">Projects</a></li>
        <li><a href="/case-studies" class="link {{ 'active' if '/case-studies' in page.url }}">Case Studies</a></li>
        <li><a href="/print-designs" class="link {{ 'active' if '/print-designs' in page.url }}">Print Designs</a></li>
        <li><a href="/about" class="link {{ 'active' if '/about' in page.url }}">About</a></li>
    </ul>
</nav>
