---
layout: layouts/layout.njk
templateOverrideEngine: njk, md
eleventyComputed:
    pageTitle: "{{ project.title }}"
    pageSubtitle: "{{ project.year }}"
---
{% block content %}
    <article class="project-section">
        <div class="project-section__intro">
            <div style="display: grid;">
                {% if project.liveSite %}
                <a href="{{ project.liveSite }}" target="_blank" title="{{ project.title }}" class="project-button__live button button--tertiary">View Live Site<span>&#8599;</span></a>
                {% endif %}
                <img src="{{ project.image }}" alt="{{ project.title }}">
            </div>
            <div class="project-section__main">
                <ul class="project-tech-stack">
                    {% for tech in project.tech %}
                        <li>{{ tech }}</li>
                    {% endfor %}
                </ul>
                <div>
                    <h2>Typography</h2>
                    <p>{{ project.typography }}</p>
                </div>
                <div>
                    <h2>Color Palette</h2>
                    <div class="color-palette">
                        {% for color in project.colors %}
                            <div class="color-palette__color" style="background-color: {{ color }};"></div>
                        {% endfor %}
                    </div>
                </div>
                {% if project.designDetails %}
                    <div>
                        <h2>Contribution</h2>
                        <p>{{ project.designDetails }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="project-section__design">
            <p class="project-section__main--about">{{ project.description }}</p>
        </div>
        {% if project.awards %}
            <div class="project-section__awards">
                <h2>Notable</h2>
                <ul>
                    {% for award in project.awards %}
                        {% set awardsLinks = project.awardsLinks[loop.index0] %}
                    <a target="_blank" href="{{ awardsLinks }}"><li>{{ award }} <span>&#8599;</span></li></a>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </article>
    <br>
    <a href="/projects" class="back-to-home button button--primary">Back to Projects<span>&curvearrowleft;</span></a>
{% endblock %}


