---
layout: layouts/layout.njk
templateOverrideEngine: njk, md
---
<h1>{{ project.title }}</h1>
<h2>{{ project.year }}</h2>

{% block content %}
  <article>
    <img src="{{ project.image }}" alt="{{ project.title }}">
    <ul>
      {% for tech in project.tech %}
        <li>{{ tech }}</li>
      {% endfor %}
    </ul>
    <a href="{{ project.liveSite }}">View Live Site</a>
    <p>Year: {{ project.year }}</p>
  </article>
{% endblock %}
