<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>{{ pageTitle }} - Parth Shiralkar</title>
</head>
<body>

{% include './navbar.njk' %}
<h1 class="pagetitle">{{ pageTitle }}</h1>
<h2 class="pagesubtitle">{{ pageSubtitle }}</h2>
<div class="content max-content-width">
    {{ content | safe }}
</div>
<div id="animatedCursor"></div>

{% include './footer.njk' %}

<!-- 100% privacy-first analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
