---
layout: layouts/layout.njk
pageTitle: Whoops!
pageSubtitle: 404 - Page Not Found
permalink: 404.html
---
<section class="page-not-found">
  <img src="/img/kids-fly-a-kite.svg" alt="404" id="landingSvg" />
  <p>Sorry, we couldn't find the page you were looking for.</p>
  <a href="/" class="button button--tertiary">Go to the homepage</a>
</section>
