---
layout: layouts/skeleton.njk
pageTitle: Whoops! 404
pageSubtitle: Sorry, Page Not Found
permalink: 404.html
---
<section class="page-not-found">
  <img src="/img/kids-fly-a-kite.svg" alt="404" id="landingSvg" />
  <p></p>
  <a href="/" class="button button--tertiary">Go to the homepage</a>
</section>
