---
layout: layouts/layout.njk
pageTitle: About
pageSubtitle: general information about me and the site
templateEngineOverride: njk, md
---
{#- this portfolio is Designed and developed by P<span class="art-word">art</span>h Shiralkar#}
{#- A JAMStack site; See {[A Colophon page](/colophon/)} for more technical specs and credits.#}
{#- [GPL-3.0 License](https://www.gnu.org/licenses/gpl-3.0.html). Attribution is required.#}
{#- This site is a serious experiment, unlike me, who is an unserious experiment.#}

{% include "components/moreAboutMe.njk" %}
