---
layout: layouts/layout.njk
pageTitle: About
pageSubtitle: cheeky little blurb
permalink: /about/
---
<ul>
    <li>This site is built with Eleventy</li>
    <li>It uses Nunjucks for templating</li>
    <li>It uses Markdown for content</li>
    <li>There is a blog section</li>
    <li>There is a portfolio section</li>
    <li>There is a contact form</li>
</ul>

