---
layout: layouts/layout.njk
pageTitle: About
pageSubtitle: cheeky little blurb
templateEngineOverride: njk, md
---
- Designed and developed by Parth Shiralkar.
- A JAMStack site built for portfolio purposes. See {[A Colophon page](/colophon/)} for more technical specs and credits.
- [GPL-3.0 License](https://www.gnu.org/licenses/gpl-3.0.html). Attribution is required.
{#- This site is a serious experiment, unlike me, who is an unserious experiment.#}
- Clicking on the rose vine below will download a copy of my resume.

<div class="landing-page__container__image">
    <a href="/lib/resume.pdf" download>
        <img src="/img/rose-vines.svg">
    </a>
</div>