---
layout: layouts/layout
pageTitle: Case Studies
pageSubtitle: Select use cases of my design work
templateOverrideEngine: njk, md
---
{% from "components/caseStudyDisplay.njk" import caseStudyCard %}

<div class="case-study-section">
{% for caseStudy in caseStudies %}
    {{ caseStudyCard(caseStudy, caseStudies.length) }}
{% endfor %}
</div>