---
layout: layouts/layout
pageTitle: Colophon
pageSubtitle: The site and its workings
templateEngineOverride: njk, md, html
---
<div class="colophon">

- <a href='https://www.11ty.dev/' target='_blank' rel='noopener'>Eleventy<span>&#8599;</span></a>
- <a href='https://www.cloudflare.com/' target='_blank' rel='noopener'>CloudFlare<span>&#8599;</span></a>
- <a href='https://www.canva.com/' target='_blank' rel='noopener'>Canva<span>&#8599;</span></a>
- <a href='https://unsplash.com/' target='_blank' rel='noopener'>Unsplash<span>&#8599;</span></a>
- <a href='https://fonts.google.com/' target='_blank' rel='noopener'>Google Fonts<span>&#8599;</span></a>
- <a href='https://openclipart.org/' target='_blank' rel='noopener'>OpenClipArt<span>&#8599;</span></a>
- <a href='https://animejs.com/' target='_blank' rel='noopener'>Anime.js<span>&#8599;</span></a>
</div>
