---
layout: layouts/layout
pageTitle: Colophon
pageSubtitle: The site and its workings
templateEngineOverride: njk, md, html
---
<div class="colophon">

- Built with <a href='https://www.11ty.dev/' target='_blank' rel='noopener'>Eleventy<span>&#8599;</span></a>, a static site generator
- Source code is hosted on GitHub
- Hosted on <a href='https://www.cloudflare.com/' target='_blank' rel='noopener'>CloudFlare Pages<span>&#8599;</span></a>
- Designed on <a href='https://www.canva.com/' target='_blank' rel='noopener'>Canva<span>&#8599;</span></a>
- Art is from <a href='https://openclipart.org/' target='_blank' rel='noopener'>OpenClipArt<span>&#8599;</span></a> and the gif is from <a href='https://www.alastairgray.com/' target='_blank' rel='noopener'>Alastair Gray<span>&#8599;</span></a>
- Fonts are Rubik One and Space Mono
- Styled with SASSY CSS, with animations from <a href='https://animejs.com/' target='_blank' rel='noopener'>Anime.js<span>&#8599;</span></a>
- Written with a combination of Markdown and Nunjucks
---
- {<a href='/not-a-link' rel='noopener'>Not a link</a>}

</div>
