---
pageTitle: "Contact"
layout: layouts/skeleton.njk
pageSubtitle: "say hello, trade treasure"
---
<div class="contact-form colophon">
    <div>
        <h3>Email</h3>
        <p>Please say <a href="mailto:hi@parth.ninja" title="email" target="_blank">hi @ parth.ninja<span>&#8599;</span></a></p>
    </div>
    <div>
        <h3>LinkedIn</h3>
        <p>For professional inquiries, you can find me on <a href="https://www.linkedin.com/in/parthshiralkar" title="LinkedIn" target="_blank">LinkedIn<span>&#8599;</span></a></p>
    </div>
    <div>
        <h3>Resume</h3>
        <p>You can find my resume upon clicking the rose vine on <a href="/about" title="resume">this page<span>&curvearrowleft;</span></a></p>
    </div>
    <hr>
    <div>
        <h3>Mastodon</h3>
        <p>For a more casual chat, you can find me on <a href="https://mastodon.social/@bhatji" title="Mastodon" target="_blank">Mastodon<span>&#8599;</span></a></p>
    </div>
    <div>
        <h3>Goodreads</h3>
        <p>For book discussions, you can find me on <a href="https://www.goodreads.com/review/list/60162168?shelf=currently-reading" title="Goodreads" target="_blank">Goodreads<span>&#8599;</span></a></p>
    </div>
</div>