---
layout: layouts/layout
pageTitle: Print Designs
pageSubtitle: Material for the eyes of many
templateOverrideEngine: njk, md
---
{% from "components/printDesignDisplay.njk" import printDesignCard %}

<div class="print-designs-grid">
    <h2>Book Covers</h2>
    <div class="print-designs-section">
        {% for design in printDesigns.bookCovers %}
            {{ printDesignCard(design, printDesigns.bookCovers.length) }}
        {% endfor %}
    </div>
</div>

<div class="print-designs-grid">
    <h2>Posters</h2>
    <div class="print-designs-section">
        {% for design in printDesigns.posters %}
            {{ printDesignCard(design, printDesigns.posters.length) }}
        {% endfor %}
    </div>
</div>
