@import "z-index";

#animatedCursor {
  width: 2.1em;
  height: 2.1em;
  border-radius: 50%;
  background-color:$color--tertiary;
  mix-blend-mode: difference; /* Enhances visibility against varying backgrounds */
  position: absolute;
  pointer-events: none;
  display: none; /* Start hidden */
  z-index: 10000; /* Ensure it's above other elements */
  opacity: 0.5;
}

// animated buttons
.homepage__button__container .button {
  opacity: 0;
}

.menu-icon {
  opacity: 0;
}

// background animation
@keyframes bgColorAnim {
  0%   { background: #ffadd4; }
  20%  { background: #fac1da; }
  40%  { background: #ffdfec; }
  60%  { background: #fdc9e2; }
  80%  { background: #ffadd4; }
  100% { background: #ffadd4; }
}

//body {
//  background: #ffadd4; /* Fallback */
//  animation: bgColorAnim 9s infinite linear;
//}
