@import "variables", "mixins";

* {
  box-sizing: border-box;
}

html {
  //filter: contrast(1.17);
  font-size: 100%;
}

body {
  background-color: $color--background;
  font-family: 'Space Mono', monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.81rem;
  margin: 0 auto;
  min-width: 360px;
  letter-spacing: 0.018rem;

  @include media-query('lg') {
    max-width: 1400px;
    padding: 1em 5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $color--primary;
}

p, ul li {
  color: $color--primary;
  line-height: 1.35;
  font-size: 1.1rem;
}

li > a {
  color: $color--tertiary;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;

  &:hover {
    font-weight: bold;
    color: $color--primary;
    border-bottom: 2px solid $color--primary;
  }
}

ul {
  padding: 0;
  margin: 0 0 0 1em;
  row-gap: 0.35em;
}

ul li {
  color: darken($color--primary, 5%);
  line-height: 1.8;
}

hr {
  border: 0;
  height: 1px;
  background-color: $color--tertiary;
  margin: 1em 0;
  max-width: 32ch;
  width: 100%;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 100%;
  max-width: 175px;
  margin-top: 0.4rem;

  @include media-query('lg') {
    max-height: 600px;
    max-width: 300px;
    margin-top: 3rem;
  }
}

footer {
  color: $color--primary;
  margin: 5rem 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;

  p {
    margin: 0 0 0.5em;
  }

  a {
    color: darken($color--background, 45%);
    text-decoration: none;
    font-size: 0.85rem;
  }

  .footer-icon {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 1%);
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0.45;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;

    &:hover {
      box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 10%);
      opacity: 0.63;
    }
  }

  .footer-icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

.nolink, .nolink:hover, .nolink a, .nolink a:hover {
  text-decoration: none;
  font-weight: normal;
}

// active link
.link.active {
  background-color: lighten($color--background, 4%);
  cursor: default;
  transition: all 0.3s ease;
  filter: contrast(1.1);
}
