@import "variables", "mixins";

body {
  background-color: $color--background;
  font-family: 'Space Mono', monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2em 1.5em;
  margin: 0 auto;
  font-size: 110%;

  @include media-query('lg') {
    padding: 1em 5em;
    max-width: 1200px;
    font-size: 150%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color--primary;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 100%;
  max-height: 500px;
}

footer {
  background-color: $color--background;
  color: $color--primary;
  padding: 3em 0 0;
  text-align: center;
  width: 100%;

  a {
    color: $color--primary;
    text-decoration: none;
  }
}
