@import "variables", "mixins";

* {
  box-sizing: border-box;
}

html {
  filter: contrast(1.26);
}

body {
  background-color: $color--background;
  font-family: 'Space Mono', monospace;
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1em;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.014rem;
  min-width: 360px;

  @include media-query('lg') {
    max-width: 1400px;
    font-size: 150%;
    padding: 1em 5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $color--primary;
  letter-spacing: 0.14rem;
}

p {
  color: $color--secondary;
  line-height: 1.5;
  font-size: 1em;
}

hr {
  border: 0;
  height: 1px;
  background-color: $color--tertiary;
  margin: 1em 0;
  max-width: 35ch;
  width: 100%;
}

.landing-page__container__image, .landing-page__container__image img {
  width: 100%;
  max-height: 475px;
  margin-top: 1.5em;
}

footer {
  color: $color--primary;
  margin: 7em 0 0;
  text-align: center;
  width: 100%;

  a {
    color: darken($color--background, 45%);
    text-decoration: none;
    font-size: 0.54em;
  }
}

.link {
  color: $color--tertiary;
  text-decoration: none;
  transition: all 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  border-bottom: 2px solid transparent;

  &:hover {
    font-weight: bold;
    color: $color--primary;
    border-bottom: 2px solid $color--primary;
  }
}

.nolink {
  text-decoration: none;
  font-weight: normal;
}

// active link
.link.active {
  background-color: lighten($color--background, 1%);
  cursor: default;
}
