.button {
  // generic button with em values so i can make &--primary, &--secondary, etc.
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.45em 1.25em;
  border-radius: 1.25em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.4s ease;

  &--primary {
    background-color: $color--primary;
    border-color: $color--primary;
    color: $color--secondary;

    &:hover {
        background-color: darken($color--primary, 10%);
        border-color: darken($color--primary, 10%);
    }
  }

  &--secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;

    &:hover {
      background-color: #545b62;
      border-color: #4e555b;
    }
  }

  //tertiary button
  &--tertiary {
    background-color: #fff;
    border-color: #6c757d;
    color: #6c757d;

    &:hover {
      background-color: #f8f9fa;
      border-color: #6c757d;
      color: #6c757d;
    }
  }

  // container for button groups
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: flex-start;
  }

  // svg span for button icons
  span {
    display: inline-block;
    margin-left: 0.35em;
    transition: margin-left 0.4s ease; /* Smooth transition for the left property */
  }

  &:hover {
    span {
        margin-left: 0.75em;
    }
  }
}
