
// path: fontfiles/RubikOne-Regular.ttf

// set up the font-face

@font-face {
  font-family: 'Rubik One';
  src: url('../fontfiles/RubikOne-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// path: fontfiles/SpaceMono-Regular.ttf, fontfiles/SpaceMono-Bold.ttf

// set up the font-face

@font-face {
  font-family: 'Space Mono';
  src: url('../fontfiles/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fontfiles/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
