.nav-container {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
    flex-direction: column;
    display: none; // hides the menu initially on mobile
    font-family: 'Rubik One', sans-serif;
    font-weight: 700;
    row-gap: 1rem;
    background: darken($color--background, 2%);

    @include media-query(md) {
      background: initial;
    }
  }

  li > a {
    color: $color--tertiary;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid darken($color--background, 21%);
    text-decoration: none;
    font-size: 1.75rem;
    letter-spacing: 0.045rem;
    line-height: 1.35;

    &:hover {
      color: $color--primary;
        border-bottom: 2px solid darken($color--background, 3%);
    }
  }

  .menu-icon {
    position: relative;
    cursor: pointer;
    margin-bottom: 1.5em;
    color: $color--primary;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    transition: all 0.3s ease;
  }

  small {
    margin-left: 2.5em;
    margin-top: 0.24em;
  }

  .menu-open, .menu-closed {
    width: fit-content;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    position: absolute; // Positioning absolutely to take out of document flow.
    left: 0; // Adjust as per your layout
  }

  /* Initially hide the .menu-open icon completely */
  .menu-open {
    opacity: 0;
    visibility: hidden;
    display: none; // Ensures it doesn’t take up space before being toggled.
  }

  /* .menu-closed is visible initially */
  .menu-closed {
    opacity: 1;
    visibility: visible;
  }

  // Mobile settings
  @include media-query(md) {
    .menu-icon {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;

      li a {
        display: inline-block;
        margin-right: 2.75em;
        margin-bottom: 0.5em;
      }
    }
  }
}
