.art-word {
  color: $color--tertiary;
  background: $color--secondary;
  border-radius: 50%;
}

// project card module
.project-card {
  background: $color--primary;
  color: $color--secondary;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .project-number {
    color: $color--secondary;
    font-variant: all-small-caps;
    word-break: normal;
  }

  .project-title,
  .project-subtitle {
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .project-title {
    font-size: 1.5em;
    color: $color--tertiary;
  }

  .project-more-link,
  .project-live-link {
    text-decoration: none;
    color: $color--primary;
    background-color: $color--secondary;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 1em;
    transition: all 0.3s ease;

    &:hover {
      filter: brightness(1.2) contrast(1.2);
    }
  }

  img.project-image {
    max-width: 100%;
    height: auto;
  }

  @include media-query(lg) {
    margin: 2em 0;
    flex-direction: row;
  }
}
