.art-word {
  color: $color--tertiary;
  background: $color--secondary;
  border-radius: 50%;
}

// project section module
.project-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: $color--primary;
  padding: 1rem;

  .project-tech-stack {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;

    li {
      background: $color--tertiary;
      color: $color--secondary;
      padding: 0.35em 0.5em;
      border-radius: 0.5em;
    }

  }

  p {
    color: lighten($color--secondary, 10%);
  }

  img {
    height: auto;

    @include media-query(md) {
      max-width: 500px;
    }
  }

  @include media-query(md) {
    flex-direction: row;
    padding: 1.35rem;
  }
}

// project card module
.project-card {
  background: $color--primary;
  color: $color--secondary;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  //opacity: 0;
  align-items: flex-start;
  justify-content: center; // adjust from space-evenly for consistent snapping behavior
  min-width: 100%; // Consistency in width across breakpoints
  transition: transform 0.5s ease, opacity 0.5s ease; // For smooth fading in/out animation
  flex: 0 0 100%; /* Ensure each card takes full container width */
  max-width: 100%;

  .project-number {
    color: $color--secondary;
    font-size: 1.6rem;

    @include media-query(md) {
      word-break: break-word;
      max-width: 1ch;
    }
  }

  .project-title,
  .project-subtitle {
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 0;
  }

  .project-title {
    background-color: $color--secondary;
    padding: 0.2em;
    width: fit-content;
    color: $color--tertiary;
    font-size: 1.5rem;
  }

  .project-subtitle {
    color: $color--secondary;
    font-size: 1.2rem;
  }

  .project-link {
    text-decoration: none;
    color: $color--primary;
    background-color: $color--secondary;
    word-break: break-word;
    opacity: 0;
  }

  .project-button__container {
    display: flex;
    gap: 1em;
    margin: 1em 0 0 0;
    justify-content: flex-start;
  }

  .project-image {
    height: auto;
    opacity: 0;
    margin-bottom: 0.5rem;

    @include media-query(md) {
      margin-bottom: 0;
      object-fit: cover;
      max-height: 450px;
      max-width: 600px;
    }
  }

  @include media-query(md) {
    flex-direction: row;
    gap: 1em;
    overflow: hidden;
    padding: 1.35rem;
    justify-content: flex-start;
  }
}

// carousel module
.carousel-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  scroll-snap-align: start;
}

.carousel-btn {
  background: $color--secondary;
  color: $color--primary;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  border: none;
  font-weight: 700;

  &:hover {
    background: $color--tertiary;
    color: $color--secondary;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.carousel-btn__container {
  display: flex;
  gap: 2rem;
  background: lighten($color--primary, 5%);
  padding: 0.5rem;
  border-radius: 4rem;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
