.pagetitle {
  font-weight: 700;
  white-space: pre-wrap;
  overflow: hidden;
  line-height: 0.9;
  font-family: 'Rubik One', sans-serif;
  opacity: 0;
  margin-bottom: 0;
  font-size: 3rem;
  margin-left: -2px;
  margin-top: 0;
  word-wrap: break-word;

  @include media-query('md') {
    font-size: 4.5rem;
    margin-left: -4px;
  }
}

.pagesubtitle {
  font-weight: 600;
  margin: 0.25rem 0 1rem 0;
  opacity: 0;
  font-size: 0.9rem;
  filter: contrast(1.1);
  font-family: 'Space Mono', monospace;
  background-color: $color--secondary;
  width: fit-content;
  padding: 0.15rem 0.3rem;
  word-break: normal;

  @include media-query('md') {
    margin-bottom: 0.1rem;
  }
}

.pagetitle, .pagesubtitle {
  letter-spacing: 0.072rem;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  row-gap: 1em;
  margin: 0 auto;

  @include media-query('lg') {
    flex-direction: row;
    column-gap: 2em;
    max-width: 100ch;
  }

  &__content {
    margin-top: 3rem;

    @include media-query('xl') {
      margin-top: 7rem;
    }
  }
}

.homepage__button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.colophon {
  ul {
    list-style: lower-greek;
    padding: 0;
    margin: 0;
  }

  hr {
    opacity: 0;
  }

  li {
    margin-left: 2em;
    opacity: 0;
  }

  a {
    color: $color--tertiary;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: normal;
    border-bottom: 2px solid transparent;

    &:hover {
      font-weight: bold;
      color: $color--primary;
      border-bottom: 2px solid $color--primary;
    }

    span {
      display: inline-block;
      margin-left: 0.15em;
      transition: margin-left 0.4s ease; /* Smooth transition for the left property */
    }

    &:hover {
      span {
        margin-left: 0.45em;
      }
    }
  }
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8em;
  margin-top: 3rem;

  img {
    width: 100%;
    height: auto;
    opacity: 0;
    margin-top: -3.6rem;
    margin-bottom: 1rem;

    @include media-query('md') {
      max-width: 400px;
    }
  }

  p {
    margin: 0;
    color: $color--primary;
  }
}
