---
layout: layouts/layout
pageTitle: Projects
pageSubtitle: A collection of my work (How I be For Real)
---
{% from "components/projectDisplay.njk" import projectCard %}

{#<div class="glider-contain">#}
{#    <div class="glider">#}
{#        {% for project in projects %}#}
{#            {{ projectCard(project, projects.length) }}#}
{#        {% endfor %}#}
{#    </div>#}
{#    <button role="button" class="glider-prev">&lAarr;</button>#}
{#    <button role="button" class="glider-next">&rAarr;</button>#}
{#    <div role="tablist" id="sliderDots"></div>#}
{#</div>#}

{#<script type="module" src="/js/carousel.js"></script>#}

<div class="project-container">
    {% for project in projects %}
        {{ projectCard(project, projects.length) }}
    {% endfor %}
</div>
