---
layout: layouts/layout
pageTitle: Projects
pageSubtitle: An overview of my coding work; latest first
templateOverrideEngine: njk, md
---
{% from "components/projectDisplay.njk" import projectCard %}

<a id="backToStartBtn" class="button button--primary">Back to Start<span>&curvearrowleft;</span></a>

<div id="carouselContainer" class="carousel-container">
    <div id="carouselSlides" class="carousel-slides">
        <!-- inserting project cards here -->
        {% for project in projects %}
            {{ projectCard(project, projects.length) }}
        {% endfor %}
    </div>
</div>
<div class="carousel-btn__container">
    <button id="prevBtn" class="carousel-btn prev-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 512 512">
            <path fill="currentColor" d="M513 216.6H158.5L316.1 59.1H197.9L1 256l196.9 196.9h118.2L158.5 295.4H513z"/>
        </svg>
    </button>
    <button id="nextBtn" class="carousel-btn next-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 512 512">
            <path fill="currentColor" d="M315.1 48.6H196.9l157.6 157.5H0v78.8h354.5L196.9 442.4h118.2L512 245.5z"/>
        </svg>
    </button>
</div>

{# Include the carousel script #}
<script type="module" src="/js/carousel.js"></script>
